body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #f0a7e6;
}
a {
  text-decoration: none;
} 

li {
  list-style: none;
}

.logo img {
  width: 3vw;
  height: 4vh;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  background-color: rgb(221, 80, 209);
  color: #fff;
}

.nav-links a {
  color: #fff;
}

.logo {
  font-size: 32px;
}

.menu {
  display: flex;
  gap: 1em;
  font-size: 18px;
}

.menu li {
  padding: 5px 14px;
}

.services {
  position: relative;
}

.dropdown {
  background-color: rgb(240, 135, 198);
  padding: 1em 0;
  position: absolute;
  display: none;
  border-radius: 8px;
  top: 35px;
}

.dropdown li+li {
  margin-top: 5px;
}

.dropdown li {
  padding: 0.2em 0.2em;
  width: 9em;
  text-align: center;
}

.dropdown li:hover {
  background-color: #4c9e9e;
}

.services:hover .dropdown {
  display: block;
}

input[type=checkbox] {
  display: none;
}

.hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
}

.box{
  width: 500px;
  padding: 80px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: #191919;
  text-align: center;
}
.box h1{
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}
.box input[type = "text"],.box input[type = "password"]{
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid ;
  padding: 14px 10px;
  outline: none;
  color: white;
}
.box input[type = "text"]:focus,.box input[type = "password"]:focus{
  border-color: #f4f6f5;
}
.box input [type="submit"]{
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid ;
  padding: 14px 40px;
  outline: none;
  color: white;
  cursor: pointer;
}
.box input [type="submit"]:hover{
  background: #f7f9f8;
}